doctype html
html
    head
        title Hello world
        meta(name="viewport" content="width=device-width, initial-scale=1")

    body
        
        
       
        //--#mNav
            input.checkboxToggle(type="checkbox")
            .checkboxLabel b
            .menuContainer
                a One
                a Two
                a Three
        
        
        .pure-g#titleBar
            .pure-u-1-24
            .pure-u-10-24
                img#twoUniqLogo(src="${require('./images/2uniq.svg')}")
            .pure-u-12-24
         
                    ul
                     li.active About 
                     li work 
                     li contact
            .pure-u-1-24
        
       
        
        #about
            
            
                    h2 User Experience Design
                    b I am a Front-end Web Designer specializing in Graphic, UX, and Interaction Design, with an unparalleled dedication to refinement, craftsmanship, and attention to detail.
                    p I am a firm believer in continuous improvement. My current focus in HTML5, CSS3, and knowledge in JS frameworks allow me to streamline my workflows to design, develop, and optimize prototypes from scratch. I listen and find new ways to deliver the best, most effective client experience possible.

                    
                   
                    
        #work
            
                .item
                       a#one(href="${require('./images/work/1prev.png')}" data-fancybox="group" data-caption="This is a cute cat")
                        div
                    
                .item
                    a#two(href="${require('./images/work/2prev.png')}" data-fancybox="group" data-caption="This is a cute cat")
                        div
                .item
                    a#three(href="${require('./images/work/3prev.png')}" data-fancybox="group" data-caption="This is a cute cat")
                        div
                .item
                    a#four(href="${require('./images/work/4prev.png')}" data-fancybox="group" data-caption="This is a cute cat")
                        div
                .item
                    p kjflds
                .item
                    p kjflds

        
        #tech
            .title
                img(src="${require('./images/tech.svg')}" align="top")
                h2 Technical Proficiency
            .pure-g
                .pure-u-1.pure-u-md-1-2
                    .flex
                        .techBody
                            p 
                                span Photoshop 
                                span HTML5 
                                span CSS3 
                                span Vanilla&nbsp;JS 
                                span Pure.css 
                                span Preprocessors 
                                span Webpack 
                                span Git 
                                span User&nbsp;Experience 
                                span Interaction&nbsp;Design
                                span Illustrator
                        .diagonal
                    
                .pure-u-1.pure-u-md-1-2
                    h3 Adobe Photoshop
                    p test2
        
        #contact
            .pure-g
                .pure-u-1.pure-u-md-1-2
                    .marginRight    
                        img(src="${require('./images/startshere.svg')}" align="top")
                        h2 It starts here
                        p Let’s collaborate and create something amazing for your customers. From Web banners, prototypes, mockups, concepts to development, I am available for full-time employment and freelancing.

                    
                .pure-u-1.pure-u-md-1-2
                    .flex
                        .left
                            img(src="${require('./images/jeffthumb.png')}")
                        .right
                            h3 Jeff Siswanto
                            p Web Designer
                                br
                                |jeff@2uniq.com
                            a(href="#") Download my CV
                                span  (.pdf)
        
        #footer.pure-g
            .pure-u-1.pure-u-md-1-2
            .pure-u-1.pure-u-md-1-2
               
                    