doctype html
html
    head
        title 2UNIQ - a Web Design Portfolio
        meta(name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8")

    body

        input.mNav.checkboxToggle(type="checkbox")
        .mNav.checkboxLabel
                span.outer
                span.middle
                span.middle2
        .mNav.menuContainer.scrollSpy
            ul
                li
                    img#twoUniqLogo(src="${require('./images/2uniq.svg')}")
                li.left
                    a.nav-link(href="#about") About
                li.right
                    a.nav-link(href="#work") Work
                li.left
                    a.nav-link(href="#tech") Skills
                li.right
                    a.nav-link(href="#contact") Contact
                    
                li.copy 
                    p Handcrafted and developed with love.
                        br 
                        |Copyright 2018 Jeff Siswanto. All rights reserved.
                
        //.viewPort.pure-g
            .pure-u-1.pure-u-md-1-2
            .pure-u-1.pure-u-md-1-2
            
        #bgImage
            .img
    
        
        #titleBar.container-fluid.scrollSpy
            .row
                .col-1
                .col
                    img#twoUniqLogo(src="${require('./images/2uniq.svg')}")
                .col

                        ul
                         li
                            a.nav-link(href="#about") About 
                         li
                            a.nav-link(href="#work") work 
                            
                         li
                            a.nav-link(href="#tech") skills 
                         li
                            a.nav-link(href="#contact") contact
                .col-1
        
      
        

       
        
        #about
                    #titleBarM
                        img(src="./images/2uniq.svg")
            
                    h2 Every moment is beautiful
                    h3 My name is Jeff Siswanto, a Front-end Web Artisan specializing in Graphic, UX, and Interaction Design, with an unparalleled dedication to refinement, craftsmanship, and attention to detail.
                    p I am a firm believer in continuous improvement. My current focus in HTML5, CSS3, and knowledge in JS frameworks allow me to streamline my workflows to design, code, and optimize prototypes 
                        i from scratch. 
                        |This is because I believe in delivering the best, most effective user experience for you.
                    p The skills and experience acquired in the past must be used accordingly to tackle new challenges. I adapt to these growing requirements, while valuing our objectives and your user's perspective. I deliver more with less, adapting to today's demanding user requirements and the diminishing human attention span. I design things that are elegant and simple without sacrificing usability.

                    
                   
                    
        #work
            
                .item
                       a#one(href="${require('./images/work/1.png')}" data-caption="<h4>Sun Life e-newsletters</h4><p>As a Digital Designer in Individual Marketing at Sun Life Financial, my responsibilities include designing and developing IBM Watson Campaign Automation templates for monthly deployment to over ten thousand wholesale advisors and financial centres nationwide. These e-mails inform regulatory changes and provide tips to strengthen relationships between advisors and their clients. Analytics and feedback including conversion rates were used to design more effective marketing communications.</p><p>A recurring design theme was to promote the financial strength and competitive advantage of Sun Life’s Money for Life, a wholistic financial and insurance advice to support every lifestyle and business requirements of individuals, small businesses, and corporations.</p>" data-fancybox="gal")
                        .bg
                            .caption 
                                h4 Sun Life e-Newsletters
                                img(src="${require('./images/expand.svg')}")
                               
                .item
                    a#two(href="${require('./images/work/2.png')}"  data-caption="<h4>Sun Life Illustrations UI</h4><a class='button' href='${require('./images/work/sample/CII_05282015.pdf')}' target='_blank'>See the mockups for Sun Critical Illness Insurance<span> (.pdf)</span></a><a class='button' href='${require('./images/work/sample/CII_Wireframes_Package.pdf')}' target='_blank'>View the wireframes <span>(.pdf)</span></a><p>Sun Life Illustrations is a tool used for advisors to estimate insurance premiums by product and client data such as age, gender, and insurance coverage. A separate UI was designed for Sun Life’s wealth products, allowing Sun Life advisors to analyze based on asset allocation on different segregated funds and their return based on given market conditions.</p><p>Working with the UX and a team of third party developers, months of user testing and feedback was incorporated to continually refine the wireframes and design of the interface for each desktop and Web release. <a href='https://www.sunnet.sunlife.com/SunLifeIllustrations/ProductSelectorAdv' target='_blank'>View the production version here</a> (you will be taken to the Sun Life Advisor site).</p>" data-fancybox="gal")
                        .bg
                            .caption 
                                h4 Sun Life Illustrations UI
                                img(src="./images/expand.svg")
                .item
                    a#three(href="${require('./images/work/3.png')}" data-caption="<h4>Sun Life Illustrations reports</h4><a class='button' href='${require('./images/work/sample/SLAGIF_10182014_2.pdf')}' target='_blank'>View a sample report<span> (.pdf)</span></a><p>With a click of a button, the Sun Life Illustrations app can automatically generate PDF reports for advisors to present details of their client’s illustrations. My responsibility is to create InDesign mockups of reports for the Sun Life product portfolio (Insurance and Wealth) with feedback from advisors, product owners, the Illustrations team, and the third party vendor.</p><p>This is to ensure all required copy, tables, and diagrams are presented in an easy-to-read, logical, and concise manner, while minimizing printing costs.</p>" data-fancybox="gal")
                        .bg
                            .caption 
                                h4 Sun Life Illustrations Reports
                                img(src="./images/expand.svg")
                .item
                    a#four(href="${require('./images/work/4.png')}" data-caption="<h4>Sun Life GIF Solutions client statements</h4><a class='button' href='${require('./images/work/sample/FOXB_post06162015.pdf')}' target='_blank'>View a sample statement <span>(.pdf)</span></a><p>I was commissioned to design paper statements for clients of Sun Life’s suite of Wealth products. Working in collaboration with advisors, product owners, and IFDS (International Financial Data Services), I ensured tables, diagrams and other design deliverables were up to specifications while minimizing costs. The objective was to make sure clients easily understand their financial standings presented in these paper statements mailed semiannually.</p>" data-fancybox="gal")
                        .bg
                            .caption 
                                h4 Sun Life GIF Solutions Client Statements
                                img(src="./images/expand.svg")
                .item
                    a#five(href="${require('./images/work/5.png')}" data-caption="<h4>hyperCONNECT</h4><p>Mockups of an Android OS app, hyperCONNECT by Pravala Networks, were developed to seamlessly and transparently switch data traffic between mobile and WiFi networks on your phone. The connection manager allows the user to experience faster, more reliable Internet experience by selecting which networks each app can use. As an added benefit, hyperCONNECT can control data costs or combine 3G/LTE with WiFi networks for lightning fast data transfers.</p>" data-fancybox="gal")
                        .bg
                            .caption 
                                h4 Hyperconnect
                                img(src="./images/expand.svg")
                .item
                    a#six(href="${require('./images/work/6.png')}" data-caption="<h4>MarketClouds.co</h4><p>An HTML website was designed and developed from scratch as the homepage for the startup  MarketClouds, an online platform that aggregates real-time stock-related tweets using a customizable dashboard. Competitive research were conducted. Aesthetics and usability was a priority. The site generated up to 1000 unique visitors per month and conversion rates were up to 3%, comprised of organic traffic from prospective individual and institutional investors.</p>" data-fancybox="gal")
                        .bg
                            .caption 
                                h4 MarketClouds.co
                                img(src="./images/expand.svg")
                .item
                    a#seven(href="${require('./images/work/7.png')}" data-caption="<h4>2UNIQ v2</h4><a class='button' href='http://www.2uniq.com/v2' target='_blank'>Visit site</a><p>This is an old predecessor of my current online portfolio. It is not fully optimized for mobile devices. However, feel free to browse my older commercial, conceptual, and artistic works not shown here. Built from scratch using the usual Web technologies including HTML, CSS, and jQuery.</p>" data-fancybox="gal")
                        .bg
                            .caption 
                                h4 2UNIQ v2
                                img(src="./images/expand.svg")
                        
                .item
                    a#eight(href="${require('./images/work/8.png')}" data-caption="<h4>2UNIQ Photography</h4><a class='button' href='http://www.2uniq.com/v2/photography' target='_blank'>Visit site</a><p>A relatively old gallery showcasing my photography skills, using filters and spiffy animation. Built without any templates.</p>" data-fancybox="gal")
                        .bg
                            .caption 
                                h4 2UNIQ Photography
                                img(src="./images/expand.svg")


        
        #tech
            .title
                img(src="${require('./images/tech.svg')}" align="top")
                h2 Technical Proficiency
            .container-fluid
                .row
                    .col-xl
                        .flex
                            .techBody
                                p 
                                    span Photoshop 
                                    span HTML5 
                                    span CSS3 
                                    span Vanilla&nbsp;JS 
                                    span Pure.css 
                                    span Preprocessors 
                                    span Webpack 
                                    span Git 
                                    span User&nbsp;Experience 
                                    span Interaction&nbsp;Design
                                    span Illustrator
                                
                                #mac
                                    
                                    img.m(src="${require('./images/mac.png')}")
                                    
                                    
                                    
                                    .reflection
                                        img.s(src="${require('./images/mac-s.png')}")
                                        
                               
                                #slide
                                        .one
                                        .two
                                        .three
                                        .four
                                        .five
                                        .six
                                        .seven
                            .diagonal

                    .col-xl
                        .techDesc
                            h3 By making careful adjustments to what is already simple, I can turn anything ordinary into something extraordinary.
                            p After years of experience communicating and understanding the needs of different end-users through personas and market research, I began to notice patterns. It came to my realization that the most impactful and memorable experiences are accomplished by taking simple, efficient design approaches. Why take the more complicated path when there is a shorter one to reach the destination?
                            p I have designed high-fidelity mockups, prototypes, e-blasts, banners, and wireframes for my clients including Sun Life Financial, DossierView, various tech startups, and BMO Financial Group. 

        #contact.container-fluid
            .row
                .col-1
                .col
                    .marginRight    
                        img(src="${require('./images/startshere.svg')}" align="top")
                        h2 It starts here
                        p Let’s collaborate and create something amazing for your customers. From Web banners, e-blasts, prototypes, mockups, concepts to development, I am available for full-time employment. Thank you for your visit.

                    
                .col
                    .flex
                        .left
                            img(src="${require('./images/jeffthumb.png')}")
                        .right
                            h3 Jeff Siswanto
                            p Web Designer
                                br
                                |jeff at 2uniq.com
                            a(href="${require('./JeffSiswanto2018.pdf')}" target="_blank") Download my CV
                                span  (.pdf)
                .col-1

               
                    